/*  your css code here. If applicable */
table {
            margin: auto;
            border: 1px solid #370350;
            font-size: 15px;
            
        }
        
        td {
            border: 1px solid #452de4;
            padding: 8px 12px;
            text-align: center;

        }

        h1 {
            text-align: center;
        }


        input {

            display: block;
            margin: 20px auto;
            background-color: #2fa55b;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;

        }
